@model WebKuaforProje.Data.Sube

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Sehir</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="sube-container">
        <h1>@Model.Isim </h1>
            <div class="ozel-tasarim">
                <p>Şube bilgileri yakında güncellenecektir.</p>
            </div>
    </div>
</body>
</html>
